@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* header section */
/* nav section  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 127px 49px 137px;
}

.nav-tittle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-text {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.primary-color {
    color: #FF5400;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-list a {
    text-decoration: none;
    padding-left: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* main section  */
/* banner section  */
.banner-container {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: 0px auto;
    border-radius: 16px;
}

.banner-container h1 {
    padding-top: 106px;
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
}

.banner-container p {
    margin-top: 24px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}

.banner-menu {
    text-align: center;
    gap: 24px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    height: 52px;
    width: 768px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
}

.primary-box {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 0px 16px;
    color: #13131880;
}

.primary-box-color {
    background: #FF5400;
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding: 0px 16px;

}

/* middle text and photo styles */
.middle-container {
    display: flex;
    margin: 100px;
}

.middle-text h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.middle-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    margin-right: 53px;
}
.middle-text >ul li{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 525px;
margin-right: 105px;
margin-top: 25px;
}
.middle-btn{
font-size: 18px;
font-weight: 700;
padding: 14px 30px;
margin-top: 46px;
}
/* photo grid section  */
