@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* header section */
/* nav section  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 127px 49px 137px;
}

.nav-tittle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-text {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.primary-color {
    color: #FF5400;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.menu-icon {
    display: none;
}

.nav-list a {
    text-decoration: none;
    padding-left: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* main section  */
/* banner section  */
.banner-container {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: 0px auto;
    border-radius: 16px;
}

.banner-container h1 {
    padding-top: 106px;
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
}

.banner-container p {
    margin-top: 24px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}

.banner-menu {
    text-align: center;
    gap: 24px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    height: 52px;
    width: 768px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
}

.primary-box {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 0px 16px;
    color: #13131880;
}

.primary-box-color {
    background: #FF5400;
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding: 0px 16px;

}

/* middle text and photo styles */
.middle-container {
    display: flex;
    margin: 100px;
}

.middle-text h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.middle-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    margin-right: 53px;
}

.middle-text>ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 525px;
    margin-right: 105px;
    margin-top: 25px;
}

.middle-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 14px 30px;
    margin-top: 46px;
}

/* photo grid section  */
.photo-container-text h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.photo-container-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.photo-container {
    margin: 0px 135px 100px 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    overflow: hidden;
}

.photo-container div {
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    background-position: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.common-img {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: relative;
}

.image-1 {
    background-image: url(../Images/Rectangle\ 5.png);
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.image-2 {
    background-image: url(../Images/Rectangle\ 8.png);
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.image-3 {
    background-image: url(../Images/Rectangle\ 6.png);
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.image-4 {
    background-image: url(../Images/Rectangle\ 7.png);
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.image-5 {
    background-image: url(../Images/Rectangle\ 9.png);
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.image-6 {
    background-image: url(../Images/Rectangle\ 11.png);
    grid-column: 1/span 5;
}

.image-7 {
    background-image: url(../Images/Rectangle\ 10.png);
    grid-column: 6/span 7;
}

/* extra section styles */

.extra-section-text>h4 {
    color: #131318;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
    word-spacing: 10px;
}

.extra-section-text>h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.extra-section-text>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 18px 100px 40px 100px;
}

.extra-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.extra-section-photo {
    width: 320px;
}

.extra-section-photo h4 {
    margin-bottom: 10px;
    color: #131318;
    font-size: 16px;
    font-weight: 800;
}

.extra-section-photo p {
    color: #131318;
    font-size: 14px;
    font-weight: 600;
    margin-right: 60px;
}

.flex {
    display: flex;
    justify-content: center;
}

.extra-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 14px 30px;
    margin-top: 40px;
    width: 280px;
    margin-bottom: 50px;
}

/* cart section styles */
.card-box h3 {
    text-align: center;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.card-box p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 48px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card-img {
    padding: 32px 477px 32px 32px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 545px;
    height: 284px;
    margin-bottom: 24px;
}

.card-2 {
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 545px;
    height: 284px;
    margin-bottom: 24px;
}

.card-3 {
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 545px;
    height: 284px;
}

.card-box>div h4,
.card-text {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 0px 250px 10px 32px;
}

.card-box>div p,
.card-paragraph {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    /* padding issue */
    padding: 0px 55px 32px 15px;
}

/* newsletter section  */
.newsletter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.newsletter-text-container {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    margin-bottom: 100px;
}

.newsletter-text-container h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 40px 308px 10px 40px;
}

.newsletter-text-container p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 84px 24px 40px;
}

.newsletter-photo-container {
    position: relative;
}

.input-1 {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 167px 16px 20px;
    border: none;
    margin: 24px 20px 0px 40px;
    font-size: 16px;
    font-weight: 400;
}

.input-2 {
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 147px;
    border: none;
    margin: 24px 20px 16px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

.square {
    border-radius: 16px;
    background: #FF5400;
    width: 300px;
    height: 90px;
    transform: rotate(-19.628deg);
    text-align: center;
    padding: 15px 10px;
    position: absolute;
    bottom: 150px;
    right: 7px;
}

.square h4 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.square h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* footer section  */
.footer-container {
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-img img {
    height: 100%;
    padding-top: 108px;
}

.footer-text {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 110px;
}

.footer-paragraph {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 32px;
}

.footer-icon {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

.fa-brands {
    margin-right: 15px;
}

.footer-paragraph-end {
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 100px;
}